:root {
    --lightgray: #bababa;
    --gray: #8d8d8d;
    --lightblue: #a6cbeb;
    --blue: #4c96d7;
    --darkgray: #3a3a3a;
    --white: #ffffff;
}

main {
    margin: 5px;
}

h1 {
    text-align: center;
    border: 2px solid var(--darkgray);
    margin-bottom: 5px;
}

table, td {
    border: double 2px var(--darkgray);
}

td {
    text-align: right;
    padding-right: 10px;
}

#table_div {
    margin-bottom: 5px;
}

#other_images_div{
    display: none;
}

#other_images_div_2{
    border: 2px solid var(--darkgray);
    padding: 3px;
    display: block;
}

#other_images_div_2 ul{
    list-style: none;
    padding: 0px;
}
#other_images_div_2 ul li {
    padding: 5px;
    display: inline;
}

#other_images_div_2 ul li img{
    padding: 5px;
    width: 30%;
}

img{
    max-width: 100%;
}

#img_div {
    border: 2px solid var(--darkgray);
    padding: 3px;

    margin-bottom: 10px;
}

.login-div{
    text-align: center;
}

.login-div a{
    text-decoration: none ;
    color: var(--white);
    margin-top: 10px;
    padding: 5px;
    font-size: medium;
    background-color: var(--darkgray);
}

form .form-div{
    text-align: center;
}

.form-button button {
    margin-top: 10px;
    padding: 5px;
    font-size: medium;
    color: var(--white);
    background-color: var(--darkgray);
}

.review-list{
    list-style: none;
    padding: 0px;
}

.review-list li {
    margin: 10px;
    border: #3a3a3a 1px double;
    padding: 5px;
}

.review-list li .name{
    color: var(--darkgray);
    margin-bottom: 10px;
}

.review-list li .reviewDate{
    color: var(--darkgray);
    font-size: small;
    text-align: right;
}


@media only screen and (min-width: 64rem){

#flex_container {
    display: flex;
    border: 1px solid var(--lightgray);
}

#flex_container div {
    margin: 5px;
}

#other_images_div{
    border: 2px solid var(--darkgray);
    padding: 3px;
    display: block;
}

#other_images_div ul li {
    list-style: none;
    padding: 5px;
}

#other_images_div ul li img:hover{
    transition: transform .4s;
    transform: scale(2);
}

#other_images_div_2{
    display: none;
}

#other_images_div ul{
    padding: 0px;
}

form .form-div{
    text-align: right;
}
}